body{
    padding: 0;
    margin: 0;
    background-color: grey;
}

#calc{
	width: 320px;
	height: 530px;
	background-color:black;
	margin: auto;
	top: 20px;
	position: relative;
	border-radius: 30px solid white;
/*    
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#res{
	height: 140px;
}
#history{
    padding-top: 30px;
	font-size: 18px;
	color: white;
	text-align: right;
	height: 30px;
	margin: 0 20px;
  

    
}
#out{
    padding-top: 10px;	
	height: 60px;
	margin: 5px 20px;	
}
#result{
    height:40px;
    width: 100%;    
   background-color: white;
    text-align: right;
    font-size: 20px;
    border-radius: 10px solid white;
    
    
}
#key{
	height: 400px;
    
}
.button:hover,#operator:hover,#add:hover,#subtract:hover,#backspace:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}
#equal{
	background-color: orange;
}
#clear{
    background-color: orange;
}
#operator,#add,#subtract,#backspace{
	background-color: orange;
}

.button{

    cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 15px;    
    margin-bottom: auto;
	float: left;
    background-color:gray;
	border-radius: 50%;
    color:white;
	border-width: 0;
	font-size: 20px;	
    border-radius: 1px solid white;
  
  

}


